.food-menu{
  width: 100%;
}

.link {
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.342);
  margin: 0 10px;
  padding-bottom: 5px;
  font-size: 20px;
  color: black;
  transition: color ease-in-out 300ms;
  background-color: transparent;
}

.link:hover {
  color: #ee1717;
}

.active-link {
  text-decoration: none;
  border-bottom: 2px solid #ee1717;
  margin: 0 10px;
  padding-bottom: 5px;
  font-size: 20px;
  transition: color ease-in-out 300ms;
  color: #ee1717;
  background-color: transparent;
}
